fastapi
uvicorn
redis
websockets
pydantic
polars
duckdb
simdkalman
river
vectorbt
streamlit
streamlit-lightweight-charts
pandas
numpy
plotly
statsmodels
scikit-learn
loguru
anywidget
requests
